<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div style="margin-right: 20px;margin-left: 20px;margin-top: 20px">
    <table class="layui-show" id="ruleTable" lay-filter="ruleTable" style="width: 80%"></table>

</div>

<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->


<script>
    layui.use(['element', 'table', 'layer'], function () {
        var $ = layui.jquery,
            element = layui.element,
            layer = layui.layer,
            table = layui.table;

            table.render({
            elem: "#ruleTable",
            url: '/va/globalRule',
            cols: [
                [
                {field: 'id', title: 'ID', width: 60}
                ,{field: 'action', title: '类型', Width: 80}
                ,{field: 'description', title: '类型描述', Width: 300}
                ,{field: 'rule', title: '字段说明', width: 600}
                ,{field: 'detail', title: '示例', width: 600}

            ]
            ]
                ,page:true
                ,id:"ruleTable"
        });

    });

</script>

</body>
</html>

